html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

.mainpage {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 100vw;
  margin-left: 4rem;
  margin-right: 4rem;
}

.content {
  max-width: 100vw;
  margin-left: 4rem;
  margin-right: 4rem;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: #121212;
  color: whitesmoke;
}

a {
  color: inherit;
}

footer > a,
nav > a,
.posts a {
  text-decoration: none;
}

.posts > ul {
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

nav {
  padding: 10px 0 10px 5px;
}

nav > * {
  display: inline-block;
  padding: 6px 10px;
}

main {
  min-height: 95vh;
  padding: 2rem 0 0 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
}

footer {
  max-height: 10vh;
  display: flex;
  justify-content: center;
}

footer > * {
  display: inline-block;
  padding: 6px 10px;
}

.postLi {
  padding: 1rem;
  border: thin solid lightgrey;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

button {
  border: none;
  background: transparent;
  color: inherit;
}

.codeBlock {
  background-color: rgb(40,40,40);
  color: rgb(235, 219, 178);
}

.codeBlock button{
  display: block;
  border-left: 2px ridge;
  margin-right: 0px;
  margin-left: auto;
  cursor: pointer;
  position: relative;
}

.codeBlock p{
  display: flex;
  align-items: center;
  padding-left: 6.5px;
  border: 2px ridge;
  margin-bottom: 0px;
}

.copyTooltip {
  position: absolute;
  visibility: collapse;
  color: #fff;
  background-color: #333;
  top: -3.5em;
  left: -1rem;
  font-size: 0.8em;
  text-align: center;
  border-radius: 6px;
  padding: 5px 8px;
  margin: 5px;
  margin-left: 5px;
  z-index: 1000;
  cursor: default;
}

button:focus > .copyTooltip {
  visibility: visible;
}

pre {
  margin-top: 0;
}
